.blogDetails{
    display: flex;
    justify-content: space-between;
    margin: .15rem 1rem;
}

.blogDetails h2{
    font-size: 1.25rem;
    font-weight: 700;
    margin: unset;
}

.card{
    box-shadow: 0 0 10px 1px #888888;
    border-radius: 5px;
    margin: 1rem;
    width: 400px;
}

.card img{
    border-radius: 5px 5px 0 0;
}

.card h1{
    color: white;
    font-size: 2rem;
    font-weight: 200;
    margin: 0;
}

.card p{
    margin: unset;
    text-align: justify;
}

.contentPreview{
    margin-top: -5px;
}

.headerImage{
    border-radius: .2rem .2rem 0 0;
    height: 200px;
    width: 400px;
}

.title{
    background: #282c34;
    padding: 0 1rem;
}

.textPreview, .topics{
    padding: .1rem 1rem .75rem;
}

.topics{
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    width: 350px;
}

.topics div{
    background: #888888;
    border-radius: 5px;
    color: white;
    font-size: .65rem;
    margin: .25rem;
    padding: 2px 5px;
}

